.table-container {
    margin-top: 20px;
}

.table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    
}

th, td {
    /* border: 1px solid #201b1b; */
    color: rgb(59, 59, 59) ;
    padding: 8px;
    text-align: center;
}

th {
    color: white ;
    background-color: rgb(59, 59, 59);
}

tr:nth-child(even) {
    background-color: rgb(155, 154, 154);
}

.view-details-btn {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
}

.view-details-btn:hover {
    text-decoration: underline;
}

h3 {
    background-color: rgb(59, 59, 59);
    text-align: center;
    font-family: Times new roman;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 3rem;
}

p {
    color: whitesmoke;
    margin-top: 2rem;
    margin-left: 2rem;
}

.backgrond-setter {
    /* background-image: url(/../assets/Images/backimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    height: 100vh; */
    background: #ececec; 
    min-height: 80vh;
    padding: 2rem;
    border-radius: 1rem;
}
