 <nav class="mnb navbar navbar-default position-relative">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <!--msb: main sidebar-->
  <div
    class="msb"
    id="msb"
    [class.msb-x]="isExpanded"
    style="margin-top: 5.35rem; width: 17rem"
  >
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="brand-wrapper">
          <!-- Brand -->
          <div class="brand-name-wrapper">
            <p class="navbar-brand text-center" style="padding-top: 1rem; padding-left: 1rem">
              <b> <i>{{employee.name}}'s  </i> </b>Workspace
            </p>
          </div>
        </div>
      </div>
  
      <!-- Main Menu -->
      <div class="side-menu-container" style="width: 20rem">
        <ul class="nav navbar-nav">
          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'accountsforapproval',
                employeeId
              ]"
              routerLinkActive="active"
            >
              <i class="fa fa-user-circle-o"></i>
              <span>Accounts for Approval</span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'allaccounts',
                employeeId
              ]"
              routerLinkActive="active"
            >
              <i class="fa fa-bookmark"></i>
              <span>All Accounts </span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'alltransaction',
                employeeId
              ]"
              routerLinkActive="active"
              ><i class="fa fa-money"></i><span>All Transactions</span>
            </a>
          </li>

          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'closecustomeraccount',
                employeeId
              ]"
              routerLinkActive="active"
              ><i class="fa fa-remove"></i><span>Accounts for Deactivating</span>
            </a>
          </li>

          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'loanactions',
                employeeId
              ]"
              routerLinkActive="active"
              ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
              </svg><span style="margin-left: 4px;">Loan Requests</span>
            </a>
          </li>

          <li class="d-flex align-items-center">
            <a (click)="logout()"
              class="nav-link"
              click
              routerLinkActive="active"
              ><i class="fa fa-power-off"></i><span>Log Out</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <!--main content wrapper-->
  <div class="mcw">
    <!--navigation here-->
    <!--main content view-->
    <div class="cv">
      <div>
        <div class="inbox">
          <div class="inbox-sb"></div>
          <div class="inbox-bx container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-10 overflow-y-auto">
                <div class="">
                  <router-outlet class="w-100"></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  