<!-- 
<body style="margin-top: 7rem;">
    <div class="back">
    <div class="logo">
        <h2>Mavericks Bank</h2>
        <p>Employee Workspace</p>
    </div>
    <div class="container">
        <div class="outer-box">
            <div class="box-header">
                <h2>Accounts for Approval</h2>
                <div class="arrow"></div>
            </div>
            <div class="inner-box">
                <table>
                    <thead>
                        <tr>
                            <th>Account ID</th>
                            <th>Account Type</th>
                            <th>Customer ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let account of createdAccounts">
                        <td>{{ account.accountId }}</td>
                        <td>{{ account.accountType }}</td>
                        <td>{{ account.customerId }}</td>
                        <td>
                            <button (click)="approveNewCustomerAccount(account.accountId)" class="approve-button">Approve</button>
                            <button (click)="disapproveNewCustomerAccount(account.accountId)" class="disapprove-button">Disapprove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="second-outer-box">
        <div class="box-header">
            <h2>Accounts to Close</h2>
        </div>
        <div class="second-inner-box">
            <table>
                <thead>
                    <tr>
                        <th>Account ID</th>
                        <th>Account Type</th>
                        <th>Customer ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr *ngFor="let account of deletedAccounts">
                        <td>{{ account.accountId }}</td>
                        <td>{{ account.accountType }}</td>
                        <td>{{ account.customerId }}</td>
                        <td>
                            <button (click)="approveCloseCustomerAccount(account.accountId)" class="approve-button">Approve</button>
                            <button (click)="disapproveCloseCustomerAccount(account.accountId)" class="disapprove-button">Disapprove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="third-outer-box">
            <div class="box-header">
                <h2>All Accounts</h2>
            </div>
            <div class="third-box">
                <table>
                    <thead>
                        <tr>
                            <th>Account ID</th>
                            <th>Account Type</th>
                            <th>Customer ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of accounts">
                            <td>{{ account.accountId }}</td>
                            <td>{{ account.accountType }}</td>
                            <td>{{ account.customerId }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        <div class="fourth-outer-box">
            <div class="box-header">
                <h2>Transactions</h2>
            </div>
            <div class="fourth-box">
                <table>
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Sender ID</th>
                            <th>Receiver ID</th>
                            <th>Transaction Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactions">
                            <td>{{ transaction.transactionId }}</td>
                            <td>{{ transaction.senderAccountId }}</td>
                            <td>{{ transaction.recieverAccountId }}</td>
                            <td>{{ transaction.transactionType }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="arrow"></div>
        </div>
        

        <div class="fifth-outer-box">
            <div class="box-header">
                <h2>Loan</h2>
            </div>
            <div class="fifth-box">
                <table>
                    <thead>
                    <tr>
                        <th>Loan ID</th>
                        <th>Loan Type</th>
                        <th>Account ID</th>
                        <th>Loan Amount</th>
                        <th>Loan Status</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let loan of loans">
                        <td>{{ loan.loanId }}</td>
                        <td>{{ loan.loanType }}</td>
                        <td>{{ loan.accountId}}</td>
                        <td>{{ loan.loanAmount }}</td>
                        <td>{{ loan.loanStatus }}</td>
                        <td>
                            <button (click)="approveLoan(loan.loanId)" class="approve-button">Approve</button>
                            <button (click)="disapproveLoan(loan.loanId)" class="disapprove-button">Disapprove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="arrow"></div>
    </div>

    <script src="script.js"></script>
    </div>
</body>
 -->

 <nav class="mnb navbar navbar-default position-relative">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <!--msb: main sidebar-->
  <div
    class="msb"
    id="msb"
    [class.msb-x]="isExpanded"
    style="margin-top: 5.35rem; width: 17rem"
  >
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="brand-wrapper">
          <!-- Brand -->
          <div class="brand-name-wrapper">
            <p class="navbar-brand" style="padding-top: 1rem; padding-left: 1rem">
              Employees Workspace
            </p>
          </div>
        </div>
      </div>
  
      <!-- Main Menu -->
      <div class="side-menu-container" style="width: 20rem">
        <ul class="nav navbar-nav">
          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'accountsforapproval',
                employeeId
              ]"
              routerLinkActive="active"
            >
              <i class="fa fa-plus"></i>
              <span>Accounts for Approval</span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'allaccounts',
                employeeId
              ]"
              routerLinkActive="active"
            >
              <i class="fa fa-bookmark"></i>
              <span>All Accounts </span>
            </a>
          </li>
          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'alltransaction',
                employeeId
              ]"
              routerLinkActive="active"
              ><i class="fa fa-hourglass"></i><span>All Transactions</span>
            </a>
          </li>

          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'closecustomeraccount',
                employeeId
              ]"
              routerLinkActive="active"
              ><i class="fa fa-hourglass"></i><span>Accounts for Deactivating</span>
            </a>
          </li>

          <li class="d-flex align-items-center">
            <a
              class="nav-link"
              [routerLink]="[
                '/employee',
                employeeId,
                'loanactions',
                employeeId
              ]"
              routerLinkActive="active"
              ><i class="fa fa-hourglass"></i><span>Loan Requests</span>
            </a>
          </li>

          <li class="d-flex align-items-center">
            <a (click)="logout()"
              class="nav-link"
              click
              routerLinkActive="active"
              ><i class="fa fa-power-off"></i><span>Log Out</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <!--main content wrapper-->
  <div class="mcw">
    <!--navigation here-->
    <!--main content view-->
    <div class="cv">
      <div>
        <div class="inbox">
          <div class="inbox-sb"></div>
          <div class="inbox-bx container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-10 overflow-y-auto">
                <div class="">
                  <router-outlet class="w-100"></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  