<div class="container">
    <div class="box-header" style="background-color: rgb(59, 59, 59); color: white; margin-top: 12%; text-align: center;">
        <h2>Loan Requests</h2>
        <div class="arrow"></div>
    </div>
    <table class="table table-bordered table-hover" style="margin-top: 5%;background-color: white; margin-left: 10%;">
        <thead class="table" style="background-color: rgb(180, 167, 167); color: white;">
        <tr>
            <th>Loan ID</th>
            <th>Loan Type</th>
            <th>Account ID</th>
            <th>Loan Amount</th>
            <th>Loan Status</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let loan of loans">
            <td>{{ loan.loanId }}</td>
            <td>{{ loan.loanType }}</td>
            <td>{{ loan.accountId}}</td>
            <td>{{ loan.loanAmount }}</td>
            <td>{{ loan.loanStatus }}</td>
            <button (click)="approveLoan(loan.loanId)" class="approve-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg>
            </button>
            <button (click)="disapproveLoan(loan.loanId)" class="disapprove-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
        </tr>
        </tbody>
    </table>
</div>