<div class="container">
    <div class="box-header">
        <h1>All Accounts</h1>
    </div>
    <div class="table-box">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>Account Type</th>
                    <th>Customer ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td>{{ account.accountId }}</td>
                    <td>{{ account.accountType }}</td>
                    <td>{{ account.customerId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>