<!-- sidebar.component.html -->
<div>
  <!-- Sidebar links -->
  <!-- **************** MAIN CONTENT START **************** -->
  <main>

    <!-- =======================Content START ================================== -->
    <section class="pt-3">
      <div class="container">
        <div class="row">

          <!-- Sidebar START -->
          <div class="col-lg-4 col-xl-3">
            <!-- Responsive offcanvas body START -->
            <ul class="nav flex-column nav-pills">
              <li><a class="nav-link" [routerLink]="['/customer', customerId, 'create-account', customerId]" routerLinkActive="active">Create New
                Account</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/customer' , customerId , 'display-account' , customerId]" routerLinkActive="active">View Account Details</a>
            </li>
            <li><a class="nav-link" [routerLink]="['/customer', customerId, 'pending-accounts', customerId]" routerLinkActive="active">Pending Account
                Requests</a></li>
            </ul>
              
          </div>

          <div class="col-lg-8 col-xl-9">
            <router-outlet class="w-100"></router-outlet>
          </div>
        </div>
        <!-- Sidebar END -->

        

      </div>
    </section>
    <!-- =======================
      Content END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    </div>

